# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
.npm
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/

# Docker
.docker

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
